
@{
    ViewData["Title"] = "PROJETO CRUD";
}

<style>
    .neon {
        margin-top: 2em;
        color: #BEF4FF;
        text-shadow: 0 0 5px #0051A4, 0 0 10px #0051A4, 0 0 20px #0051A4, 0 0 20px #1051A4, 0 0 40px #1051A4, 0 0 45px #1051A4, 0 0 50px #1051A4, 0 0 75px #0051A4;
    }
    .foto{
        display: flex;
        justify-content: flex-end;
    }
    .img-responsive{
        padding: 30px;
    }
</style>

<h2 class="neon"><strong>@ViewData["Title"]</strong></h2>

<div class="foto">
    <img class="img-responsive" width="600" src="~/images/pexels-sebastiaan-stam-1480690.jpg" />
</div>

